<center>

<form action="#" method="post">
 <!--input type="text" value="8" name="mytextbox" size="1"/-->
 <input type="submit" class="btn" value="Connect" name="connect" id="connect">
</form>

{% if has_error %}
Connection failed!
{% endif %}

{% if has_connection %}
<script>
document.getElementById("connect").disabled = true;
</script>
{% endif %}

<br>
<form action="#" method="post">
 <!--input type="text" value="8" name="mytextbox" size="1"/-->
 <input type="submit" class="btn" value="Disconnect" name="disconnect" id="disconnect">
</form>

{% if not has_connection %}
<script>
document.getElementById("disconnect").disabled = true;
</script>
{% endif %}

<br>

<form action="#" method="post">
 <input type="text" name="messagetext" />
 <input type="submit" class="btn" value="Send message" name="message" id="message">
</form>

{% if not has_connection %}
<script>
document.getElementById("message").disabled = true;
</script>
{% endif %}



<br>
<form enctype="multipart/form-data" action="#" method="post">
<!--input type="hidden" name="MAX_FILE_SIZE" value="65000" /-->
Choose a file to upload: <input name="imagefile" type="file" /><br />
<br>
 <input type="submit" class="btn" value="Upload image" name="image" id="image">
</form>

{% if not has_connection %}
<script>
document.getElementById("image").disabled = true;
</script>
{% endif %}

<br>
<form action="#" method="post">
 <!--input type="text" value="8" name="mytextbox" size="1"/-->
 <input type="submit" class="btn" value="Show all" name="show" id="show">
</form>

{% if not has_connection %}
<script>
document.getElementById("show").disabled = true;
</script>
{% endif %}


{% if needs_ack %}
{% if has_ack %}
The message was uploaded successfully!
{% endif %}
{% if not has_ack %}
Message upload failed!
{% endif %}
{% endif %}


{% if needs_ack_image %}
{% if has_ack_image %}
The image was uploaded successfully!
{% endif %}
{% if not has_ack_image %}
Image upload failed!
{% endif %}
{% endif %}



{% if needs_show %}
{% if has_show %}
{% autoescape off %}
{{ show|linebreaksbr }}
{% endautoescape %}

{% endif %}
{% if not has_show %}
Could not retrieve all data!
{% endif %}

{% endif %}

{% if connection_lost %}
Connection was closed!
<script>
document.getElementById("connect").disabled = true;
document.getElementById("disconnect").disabled = true;
document.getElementById("message").disabled = true;
document.getElementById("image").disabled = true;
document.getElementById("show").disabled = true;
</script>
{% endif %}
</center>
